.btn {
  color: var(--color-white);
  background-color: var(--color-blue-400);
  border: none;
  border-radius: var(--border-rounded);
  padding: var(--padding-sm);
  cursor: pointer;
  margin: 0.1rem;
}
