.home {
  border-radius: var(--border-rounded);
  box-shadow: 0 10px 10px var(--color-gray-300);
  padding-bottom: var(--padding-sm);

  &__top {
    background-image: url(https://img.freepik.com/free-photo/tranquil-bay-with-azure-waters-palmfringed-sands-is-hidden-by-green-hills_91128-4707.jpg?w=996);
    background-repeat: no-repeat;
    border-radius: var(--border-rounded) var(--border-rounded) 0 0;
    height: 15rem;
    background-position: 50%;
    background-size: cover;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: var(--padding-lg);
    justify-content: space-between;

    &__avatar {
      object-fit: cover;
      border-radius: var(--border-circle);
      height: 10rem;
      width: 10rem;
      padding: 0.2rem;
      box-shadow: 0 10px 10px var(--color-gray-300);
      background-color: var(--color-blue-400);
      cursor: pointer;
      margin-top: -10rem;
      &:hover {
        height: 11rem;
        width: 11rem;
        padding: 0;
        box-shadow: 0 10px 10px var(--color-gray-300);
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
    }
    &__name {
      font-size: 3rem;
    }
    &__buttons {
      display: flex;
      align-self: center;
      gap: 0.5rem;
      margin-left: var(--margin-sm);
    }
  }

  &__body {
    display: flex;
    gap: 1rem;
    padding: var(--padding-md) var(--padding-lg);

    &__pannel {
      background-color: var(--color-gray-100);
      border-radius: var(--border-rounded);
      box-shadow: 0 10px 10px var(--color-gray-300);
      width: 50%;
      padding: var(--padding-sm) var(--padding-lg);
    }

    &__location {
      display: flex;
    }

    a {
      display: block;
      color: var(--color-gray-500);
      :visited {
        color: var(--color-gray-500);
      }
    }
  }

  &__news {
    display: grid;
    gap: 0 1px;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--margin-sm) var(--margin-lg);
    box-shadow: 0 10px 10px var(--color-gray-300);
    border-radius: var(--border-rounded);

    &__headline {
      text-align: center;
      border-radius: var(--border-rounded) var(--border-rounded) 0 0;
      background-color: var(--color-gray-200);
      cursor: pointer;
      &:hover {
        background-color: var(--color-gray-300);
      }
      &--active {
        background-color: var(--color-gray-100);
      }
    }
    &__information {
      text-align: center;
      grid-column: 1 / span 3;
      background-color: var(--color-gray-100);
      padding: var(--padding-md);
      border-radius: 0 0 var(--border-rounded) var(--border-rounded);
    }
  }
}
