.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(164, 164, 164);

  &__card {
    background-color: rgb(72 145 224);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__btn {
    background-color: rgb(72 145 224);
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
  }

  .tags {
    display: flex;
    flex-direction: column;
  }
}
.tag {
  background-color: rgb(153, 153, 153);
  border-radius: 1rem;
  margin: 0.5rem;
  width: fit-content;
  padding: 0.5rem;
}
