.tab {
  display: flex;
  margin-bottom: 1rem;

  &__item {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--color-gray-200);
    cursor: pointer;
    &.active {
      border-bottom: 3px solid var(--color-blue-400);
    }
  }
  &__content {
    padding: 1rem;
  }
}
