:root {
  //border
  --border-rounded: 0.5rem;
  --border-circle: 1000rem;

  //padding
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;

  //margin
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;

  //colors
  --color-white: #fff;
  --color-gray-100: #ecf0f1;
  --color-gray-200: #dadfe3;
  --color-gray-300: #c0c3c3;
  --color-gray-400: #7f8c8d;
  --color-gray-700: #5a5f60;
  --color-black: #222;
  --color-blue-100: #d6dff0;
  --color-blue-400: #5172b1;
  --color-blue-500: #445f91;
  --color-green-400: #54c183;
  --color-green-500: #47a16e;
  --color-red-300: #db3f52;
  --color-red-400: #c23d50;
  --color-red-800: #521a22;
  --color-yellow-400: #f3ef19;
  --color-orange-300: #e7b128;
}

* {
  box-sizing: border-box;
  font-family: "Lobster Two", sans-serif;
}

body {
  margin: 0;
}

@import "./components/button.scss";
@import "./components/container.scss";
@import "./components/gallery.scss";
@import "./components/grid.scss";
@import "./components/header.scss";
@import "./components/home.scss";
@import "./components/icon.scss";
@import "./components/image.scss";
@import "./components/input.scss";
@import "./components/layout.scss";
@import "./components/link.scss";
@import "./components/nav.scss";
@import "./components/personal.scss";
@import "./components/tag.scss";
@import "./pages/croatia.scss";
@import "./pages/flags.scss";
@import "./pages/homework.scss";
@import "./pages/mewtwo.scss";
@import "./pages/profile.scss";
@import "./pages/tabs.scss";
@import "./pages/data.scss";
@import "./utils/display.scss";
@import "./utils/flex.scss";
@import "./utils/margins.scss";
